body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 5px 10px;
    align-items: center;


}

.img_profil {
    margin-left: auto;

}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.liens_btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    list-style: none;

}

header ul {
    padding: 0;
}

header img {
    height: 3em;
    width: 3em;
}

header button {

    height: 5em;
    background: none;
    border: none;
    cursor: pointer;


}


nav a {

    text-decoration: none;
    color: black;
    font-size: 1.2em;


}


nav a:hover {
    text-decoration: underline;

}

a.active {
    text-decoration: underline;
}



@media screen and (min-width: 750px) {
    .menu_burger_icone {
        display: none;
    }
}


@media screen and (max-width: 750px) {

    ul.liens_btn {
        position: absolute;
        top: 100%;
        margin: 0;
        left: 0;
        width: 100%;

        display: flex;
        flex-direction: column;


        opacity: 0;
        transform: translateY(-15px);
        
        pointer-events: none;
        transition: opacity 1.5s ease, transform 1.5s ease;

        

    }
    .liens_btn.menu {

        background: rgba(237, 246, 249, 0.8);
        backdrop-filter: blur(1.2px);
        
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;




    }




    img.menu_burger_icone {

        display: block;
        cursor: pointer;
    }

   
}