body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

/** Footer **/

footer {
	background-color: whitesmoke;
}

footer nav a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
}

footer nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-between;
	margin: 0.2em;
	padding: 0.2em 0.5em;
}
